<!-- comienza pedidos completados div, NECESITO ARREGLAR EL MIN WIDTH DE TD Y EL BOTTON EN MIN WIDTH SUFICIENTE -->
<div id="cerrados" class="col s12">
 <table class="table-sm table-bordered">
  <thead>
    <tr>
       <th style="cursor:pointer" onclick="window.location = 'https://libronube.com/pedidos-completados-recientes/'" class="header_fecha" scope="col">Fecha <i style="" class="material-icons x">expand_more </i></th>
     
      <th style="cursor:pointer" onclick="window.location = 'https://libronube.com/pedidos-completados-titulo/'" class="header_titulo" scope="col">Título <i style="" class="material-icons x">expand_more </i></th>
      <th style="cursor:pointer" onclick="window.location = 'https://libronube.com/pedidos-completados-autor/'" class="header_autor" scope="col">Autor <i style="" class="material-icons x">expand_more </i></th>
       <th style="cursor:pointer" onclick="window.location = 'https://libronube.com/pedidos-completados-likes/'" class="header_likes" scope="col">Likes <i style="" class="material-icons x">expand_more </i></th> 
    </tr>
  </thead>
  <tbody id="table-id">
    
    
  {% for p in pedidos %}
  {% if p.completed == True %}
  <td class="fecha_table_row">
  <!-- CHECKED COMPLETED -->   
  {% include "pedidos/buttons/check_button.html" %}
  
  {% if ip_object.credits >= 1 or user.is_authenticated == True %}
    {% include "pedidos/buttons/download_button.html" %}
  {% else %}
    {% include "pedidos/buttons/no_credits_button.html" %}
  </div>
  {% endif %}
  </td>
  <td class="titulo_table_row" > <b>{{p.titulo}}</b></td>
  <td  class="autor_table_row"> <b>{{p.autor}}{% include "pedidos/buttons/info_button.html" %}</b></td>
   <td class="likes_table_row">{% include "pedidos/update_votes.html" %}</td>     
  </div>        
  </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
<!-- termina pedidos abiertos div -->
</div>
<script>



function getTab(){
    var cerrado = document.getElementById("tab_cerrado");
    var tab_cerrado = cerrado.className;
    var abierto = document.getElementById("tab_abierto");
    var tab_abierto = abierto.className;
    
    if (tab_abierto == "active") {
      

      var tab = "abierto"
    
    } else {
      
      var tab = "cerrado"
    }

    var x = document.getElementsByClassName("input_tab")
    
    for (var i=0; i < x.length; i++) { 
    x[i].value = tab;
    console.log(x)
    console.log(x[i])
    console.log(tab)
    }
    
}
</script>
