<br>
<style>
	.card {
		font-family: 'nunito'!important;
		background-color: transparent!important;
	

	}
	.card-title {
		font-family: 'nunito'!important;
	}


	@media (max-width:600px){
		.card{
			margin-right:35px;
		}
	}

	
</style>


<br>
<div style="width:85%" class="container history_container">
<div class="row">
		

</div>
<!-- <h4 style="margin:auto"><i style="font-size:40px; color:#212529;" class="material-icons">settings</i>{{user.username}}</h4> -->
<div class="row">
	
<div class="col">
		
	<div  class="col-md">
			<div  class="waves-effect waves-light card text-center mb-3">
			  	<div  class="card-header">
			  		<i style="font-size:40px; color:#66bb6a" class="material-icons">access_alarm</i>
			  		<h6 class=""><b>23:00hs</b></h6>
			  	</div>
			  	
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div  class="waves-effect waves-light card text-center mb-3">
			  	<div  class="card-header">
			  		<i style="font-size:40px; color:#FF7F50" class="material-icons">announcement</i>
			  		<h6 class=""><b>Pedidos</b></h6>
			  	</div>
			  	
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div  class="waves-effect waves-light card text-center mb-3">
			  	<div  class="card-header">
			  		<i style="font-size:40px; color:#e53935" class="material-icons">favorite</i>
			  		<h6 class=""><b>Favoritos</b></h6>
			  	</div>
			  	
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
		<div  class="waves-effect waves-light card text-center mb-3">
			  	<div  class="card-header">
			  		<i style="font-size:40px; color:#8c9eff" class="material-icons">remove_red_eye</i>
			  		<h6 class=""><b>Vistos</b></h6>
			  	</div>
			  	
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div  class="waves-effect waves-light card text-center mb-3">
			  	<div  class="card-header">
			  		<i style="font-size:40px; color:#3d6798f5" class="material-icons">search</i>
			  		<h6 class=""><b>Búsquedas</b></h6>
			  	</div>
			  	
			</div>
		</div>
	</div>

	<div class="col">
		

		<div class="col-md">
			<div  class="waves-effect waves-light card text-center mb-3">
			  	<div  class="card-header">
			  		<i style="font-size:40px; color:#E57373" class="material-icons">arrow_downward</i>
			  		<h6 class=""><b>Descargas</b></h6>
			  	</div>
			  	
			</div>
		</div>
		</a>
	</div>


    </div>
    
	</div>

</div>
</div>
