{% extends "base.html" %}
{% load static %}
    {% block testimonial %}
        <div class="container-xxl bg-white p-0">

                <!-- Header Start -->
                {% include "partials/header.html" %}
                <!-- Header End -->

                <!-- Search Start -->
                {% include "partials/search.html" %}
                <!-- Search End -->


                <!-- Testimonial Start -->
                {% include "partials/testimonial_partial.html" %}
                <!-- Testimonial End -->
            

                <!-- Footer Start -->
                {% include "partials/footer.html" %}
                <!-- Footer End -->


            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

    {% endblock %}